// COLOURS
$black: #000;
$white: #fff;
$light-grey: #E5E5E5;
$dark-grey: #999;
$blue: #0018CC;
$red: #FF0000;
$pink: #FF0066;
$green: #94F20D;
$yellow: #FFFF00;

$primary: $blue;
$link: $pink;
$info: $pink;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $black;
$text: #4d4d4d;

// GLOBAL
$radius: 0;

// FONTS
$family-monospace: 'Ocra', monospace;
$family-sans-serif: 'Open Sans', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// BUTTONS
$button-padding-horizontal: 20px;
$button-padding-vertical: 30px;